<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
        />

        <title>DEUDAN</title>
        <style>
            .custom-top-margin {
                margin-top: 180px;
            }
            .custom-top-margin2 {
                margin-top: 180px;
            }
            .custom-top-margin3 {
                margin-top: 20px;
            }
            .center-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            .image-box {
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 10px;
                text-align: center;
                cursor: pointer;
            }
            .image-box img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img
                    src="../assets/img/logo.png"
                    width="50"
                    height="50"
                    class="d-inline-block align-top"
                    alt=""
                />
                DEUDAN
            </a>
        </nav>
        <div class="row">
            <div class="col-md-5 custom-top-margin2" style="overflow: hidden">
                <h2 class="text-center">Ürün Resmi Ekle</h2>
                <form id="imageForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 custom-top-margin3">
                            <div class="center-content image-box" id="box1">
                                <label for="image1">Resim 1 Yükle</label>
                                <input
                                    type="file"
                                    id="image1"
                                    name="image"
                                    accept="image/*"
                                    style="display: none"
                                />
                            </div>
                            <div class="center-content image-box" id="box2">
                                <label for="image3">Resim 3 Yükle</label>
                                <input
                                    type="file"
                                    id="image3"
                                    name="image"
                                    accept="image/*"
                                    style="display: none"
                                />
                            </div>
                        </div>
                        <div class="col-md-6 custom-top-margin3">
                            <div class="center-content image-box" id="box3">
                                <label for="image2">Resim 2 Yükle</label>
                                <input
                                    type="file"
                                    id="image2"
                                    name="image"
                                    accept="image/*"
                                    style="display: none"
                                />
                            </div>
                            <div class="center-content image-box" id="box4">
                                <label for="image4">Resim 4 Yükle</label>
                                <input
                                    type="file"
                                    id="image4"
                                    name="image"
                                    accept="image/*"
                                    style="display: none"
                                />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-5 offset-1 custom-top-margin">
                <h2 class="text-center">İlan Ekle</h2>
                <form id="form">
                    <div class="form-group">
                        <label for="title">Başlık:</label>
                        <input
                            type="title"
                            class="form-control"
                            id="title"
                            placeholder="Ürün Başlığını Girin"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="description">Açıklama:</label>
                        <input
                            type="description"
                            class="form-control"
                            id="description"
                            placeholder="Ürün açıklaması Girin"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="price">Fiyat:</label>
                        <input
                            type="price"
                            class="form-control"
                            id="price"
                            placeholder="Ürün Fiyatı Girin"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="category">Kategori:</label>
                        <select class="form-control" id="category" required>
                            <option value="" disabled selected>Seçiniz</option>
                            <option value="Mutfak Eşyaları">
                                Mutfak Eşyaları
                            </option>
                            <option value="Mobilya">Mobilya</option>
                            <option value="Bilgisayar">Telefon</option>
                            <option value="Telefon">Bilgisayar</option>
                            <option value="Giyim">Giyim</option>
                            <option value="Oyun">Oyun</option>
                            <option value="Kırtasiye">Kırtasiye</option>
                            <option value="Konaklama">Konaklama</option>
                            <option value="Ev Arkadaşı">Ev Arkadaşı</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">
                        İlan Ekle
                    </button>
                </form>
            </div>
        </div>
        <script src="/src/upload.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
